<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Studio-Ghibli Films</title>
  <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap" rel="stylesheet">
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- ITC  Avant Garde Gothic is the font used for Studio Ghibli -->
</head>

<body>