<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Studio-Ghibli Films</title>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap" rel="stylesheet">

  <!-- Temporally using BootstrapCDN to style my project will move to installing Bootstrap with npm later on -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  
  <link rel="icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- ITC  Avant Garde Gothic is the font used for Studio Ghibli -->
</head>

<body>
  <!-- .navbar-dark: will set the color of the text to light. This is used when using the class bg-dark -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Studio Ghibli</a>
    <!-- This toggle-button will show up when the screen reaches a certain breakpoint / data-target-id has to match the id of the div containing the navbar-nav -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- To move the anchor-tags to the right-end classes .nav .justify-content-end had to be added to the parent-div / The id held by this div containing the navbar-nav must be sent to data-target in order for it to work -->
     <div class="nav justify-content-end collapse navbar-collapse" id="navbarNavDropdown">
       <div class="navbar-nav">
        <a class="nav-link <%= renPageTitle == "home" ? 'active' : null %>" href="/">Home<span class="sr-only">(current)</span></a>
        <a class="nav-link <%= renPageTitle == "getFilms" ? 'active' : null %>" href="/getFilms">Films</a>
       </div>
     </div>

  </nav>