<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Studio-Ghibli Films</title>
  <link rel="icon" href="/images/favicon.ico">
  <!-- ITC  Avant Garde Gothic is the font used for Studio Ghibli -->
</head>

<body>