<%- include("partials/header") -%>

<!-- REMINDER: class=[my_classes] then [bootstrap_classes] -->
<section class="title">
  <div>

  </div>
</section>

<section class="main">
  <div>
    <p>Hola! My name is Harold.</p>
    <p>I'm a self-taught Full-Stack Web Developer and this is my first side project. I dedicate this to my loving wife and son.</p>
    <p>The purpose of this project is to present future employers with my skills as a Full-Stack Web Developer.</p>
  </div>
</section>

<%- include("partials/footer") -%>