<%- include("partials/header") -%>

<span class="d-none"> <%= renPageTitle %> </span>

<!-- REMINDER: class=[my_classes] then [bootstrap_classes] -->
<section class="title pt-5 px-5">
  <div class="img_container">
    <img class="main_img img-fluid" src="/images/studio-ghibli-home_001.png" alt="studio-ghibli-main">
  </div>
</section>

<section class="info p-5">
  <div class="main">
    <p>Hola! My name is Harold.</p>

    <p>
      I'm a self-taught Full-Stack Web Developer and this is my first project. 
      I dedicate this to my loving wife, Amaranta.
      Our first movie at the theater was Kiki's Delivery Service by Studio Ghibli.
    </p>

    <p>
      The purpose of this project is to present future employers with my skills as a Full-Stack Web Developer.

    </p>

  </div>
</section>

<%- include("partials/footer") -%>