<%- include("partials/header") -%>

<section class="main_container">

  <h1>Studio Ghibli</h1>
  <h2>Intro</h2>
  <p>Hola! My name is Harold.</p>
  <p>I'm a self-taught Full-Stack Web Developer and this is my first side project. I dedicate this to my loving wife and son.</p>
  <p>The purpose of this project is to present future employers </p>
  <a href="/getFilms">Get Films</a>

</section>

<%- include("partials/footer") -%>